@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,500,500i,600,700,700i,800");
.heading1, .heading2, a.btn-default, a.btn-secondary, .reasons-header h2, .portfolio h2, .latest-post .text-center h2, .client-container h2, h1, .reasons-header h1, .services-container .services-post h1 {
  color: #3a3d41;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px; }

.heading2, a.btn-default, a.btn-secondary, .reasons-header h2, .portfolio h2, .latest-post .text-center h2, .client-container h2 {
  font-size: 18px; }

.paragraph, p, .services-container .services-post p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #999999;
  margin: 0 0 20px; }

.round-icon, .mission-holder .mission-post-single .mission-post-text span, .services-container .services-post i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e74c3c;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  font-size: 18px; }

body {
  font-family: "Raleway", sans-serif; }

.container-fluid {
  padding: 0; }

a {
  display: inline-block;
  text-decoration: none !important; }

a.btn-default {
  color: #fff;
  padding: 14px 50px;
  background: #e74c3c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border-bottom: 3px solid #9e2114;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
  a.btn-default:hover {
    opacity: 0.7; }

a.btn-secondary {
  color: #fff;
  padding: 14px 14px;
  background: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #999999;
  border-bottom: 3px solid #999999;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }

header {
  background: #fff; }
  header .navbar {
    background: transparent !important; }
  header ul.navbar-nav > li > a {
    color: #333333 !important;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 25px !important; }
    header ul.navbar-nav > li > a:hover {
      color: #e74c3c !important; }

section.slider-section {
  padding: 250px 0 50px;
  background: #3a3d41 url("../upload/banners/slide1.jpg") center center;
  background-size: cover;
  text-align: center;
  position: relative; }
  section.slider-section .slider-content {
    margin-bottom: 140px; }
    section.slider-section .slider-content h1 {
      color: #fff;
      font-size: 60px; }
    section.slider-section .slider-content p {
      font-size: 18px;
      color: #fff;
      opacity: 0.8;
      margin-bottom: 30px; }
  section.slider-section .container {
    position: relative;
    z-index: 2; }

section.slider-section:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); }

.our-mission {
  background: rgba(58, 61, 65, 0.8);
  padding: 0 5px 20px 20px; }

.mission-holder .mission-post-single {
  padding-top: 20px;
  border-top: 2px solid transparent; }
  .mission-holder .mission-post-single:hover {
    border-top: 2px solid tomato; }
  .mission-holder .mission-post-single .mission-post-text span {
    display: inline-block;
    float: left;
    font-family: arial;
    font-weight: 700; }
    .mission-holder .mission-post-single .mission-post-text span:hover {
      background: #f9fafb;
      color: #333; }
  .mission-holder .mission-post-single .mission-post-text h2 {
    font-size: 24px; }
  .mission-holder .mission-post-single .mission-post-text h2, .mission-holder .mission-post-single .mission-post-text p {
    text-align: left;
    margin: 0 0 0 65px;
    color: white; }

.services .container-fluid {
  padding: 0; }
  .services .container-fluid .row {
    padding: 0;
    margin: 0; }

.reasons-header {
  height: 200px; }
  .reasons-header h1 {
    padding-top: 70px; }
  .reasons-header h2 {
    color: #999999;
    font-weight: 300; }

.services-container h1, .services-container p {
  color: white !important; }

.services-container .parallax {
  /* The image used */
  background-image: url("../upload/banners/back.jpg");
  /* Set a specific height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.services-container .background {
  background: rgba(58, 61, 65, 0.8);
  height: 100%; }

.services-container .services-post {
  padding: 125px 0; }
  .services-container .services-post i {
    width: 65px;
    height: 65px;
    line-height: 64px;
    background: #f9fafb;
    color: #3a3d41;
    font-size: 40px; }
  .services-container .services-post h1 {
    padding-top: 25px; }
  .services-container .services-post hr {
    width: 60px;
    height: 2px;
    background: white; }
  .services-container .services-post:hover i {
    background: #e74c3c;
    color: white; }
  .services-container .services-post:hover hr {
    background: #e74c3c; }
  .services-container .services-post:hover .btn-secondary {
    background: #e74c3c;
    color: white;
    border: none;
    border-bottom: 3px solid #9e2114; }

.services .reasons-header-dark {
  padding: 60px 0;
  color: white !important;
  background: url("../images/pattern.png") center center; }
  .services .reasons-header-dark .btn-default {
    padding: 0 10px; }
  .services .reasons-header-dark h1 {
    color: white; }
  .services .reasons-header-dark span {
    padding-right: 10px; }
  .services .reasons-header-dark i {
    border-left: 1px solid #9e2114;
    padding: 15px 5px 15px 20px; }

.portfolio {
  width: 100%;
  padding: 60px 0; }
  .portfolio .container-fluid {
    padding: 0;
    width: 100%; }
  .portfolio h2 {
    color: #999999;
    font-weight: 300; }
  .portfolio .portfolio-holder {
    padding: 60px 0; }
    .portfolio .portfolio-holder .row {
      width: 100%;
      margin: 0; }
    .portfolio .portfolio-holder .col-md-3 {
      padding: 0; }
      .portfolio .portfolio-holder .col-md-3 .img-holder {
        height: 100%;
        position: relative; }
        .portfolio .portfolio-holder .col-md-3 .img-holder img {
          height: 100%;
          width: 100%; }
        .portfolio .portfolio-holder .col-md-3 .img-holder .portfolio-hover {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(255, 255, 255, 0.65);
          transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          opacity: 0; }
          .portfolio .portfolio-holder .col-md-3 .img-holder .portfolio-hover:hover {
            opacity: 1; }
          .portfolio .portfolio-holder .col-md-3 .img-holder .portfolio-hover .hover-box {
            padding-top: 25%; }
            .portfolio .portfolio-holder .col-md-3 .img-holder .portfolio-hover .hover-box a {
              display: inline-block;
              text-decoration: none;
              width: 40px;
              height: 40px;
              text-align: center;
              border-radius: 50%;
              background: #e74c3c;
              line-height: 40px;
              position: absolute; }
              .portfolio .portfolio-holder .col-md-3 .img-holder .portfolio-hover .hover-box a i {
                color: white; }
            .portfolio .portfolio-holder .col-md-3 .img-holder .portfolio-hover .hover-box a.zoom {
              right: 50%;
              margin-right: 10px; }
            .portfolio .portfolio-holder .col-md-3 .img-holder .portfolio-hover .hover-box a.link {
              left: 50%;
              margin-left: 10px; }
      .portfolio .portfolio-holder .col-md-3 .item-name {
        padding: 25px 0;
        z-index: 2; }
  .portfolio .portfolio-buttons .btn {
    font-size: 14px;
    padding: 10px;
    margin: 0 10px;
    background: transparent;
    color: #3a3d41;
    font-weight: 800;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid rgba(0, 0, 0, 0.3); }

.features {
  padding-bottom: 60px; }
  .features .parallax {
    /* The image used */
    background-image: url("../upload/banners/back2.jpg");
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .features .parallax .background {
      background: rgba(58, 61, 65, 0.8);
      height: 100%; }
    .features .parallax .container {
      padding-top: 60px;
      margin-bottom: -40px; }
      .features .parallax .container h1 {
        color: white; }
      .features .parallax .container .btn-default {
        font-size: 18px;
        padding: 10px 15px; }
      .features .parallax .container .features-post {
        padding-top: 60px; }
        .features .parallax .container .features-post i {
          float: left;
          color: white;
          height: 40px;
          width: 40px;
          line-height: 40px;
          border: 2px solid white;
          border-radius: 50%;
          text-align: center; }
        .features .parallax .container .features-post .features-post-holder {
          padding: 10px 0; }
        .features .parallax .container .features-post .features-post-text {
          margin: 12px 0 0 65px; }
          .features .parallax .container .features-post .features-post-text h2 {
            font-size: 18px;
            color: white;
            font-weight: 800;
            padding-bottom: 5px; }

.statistics .parallax {
  /* The image used */
  background-image: url("../upload/banners/back.jpg");
  /* Set a specific height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.statistics .background {
  background: rgba(58, 61, 65, 0.8);
  height: 100%; }
  .statistics .background .row {
    padding: 75px 0; }
    .statistics .background .row i {
      color: #e74c3c;
      font-weight: 500;
      font-size: 30px;
      float: left;
      margin-top: 10px; }
    .statistics .background .row p {
      color: white;
      font-size: 18px;
      font-weight: 700;
      margin-left: 50px;
      padding-bottom: 0; }
      .statistics .background .row p.stat-number {
        font-size: 48px; }

.latest-post .text-center {
  padding: 60px 0; }
  .latest-post .text-center h2 {
    color: #999999;
    font-weight: 400;
    padding-bottom: 60px; }
  .latest-post .text-center img {
    width: 100%; }
  .latest-post .text-center .col-md-4 {
    padding: 0 10px; }
    .latest-post .text-center .col-md-4 .latest-single-post .post-content {
      height: 90px; }
      .latest-post .text-center .col-md-4 .latest-single-post .post-content .date-post {
        float: left;
        background: blue;
        height: 90px;
        width: 60px;
        padding: 12px 2px;
        background: #3a3d41; }
        .latest-post .text-center .col-md-4 .latest-single-post .post-content .date-post p {
          color: white;
          font-size: 18px;
          font-weight: 400;
          text-align: center;
          line-height: 1.5; }
        .latest-post .text-center .col-md-4 .latest-single-post .post-content .date-post span {
          font-size: 24px;
          font-weight: 700;
          border-bottom: 1px solid white;
          padding-bottom: 5px; }
      .latest-post .text-center .col-md-4 .latest-single-post .post-content .post-content-data {
        padding: 18px 20px;
        margin-left: 60px;
        text-align: left; }
        .latest-post .text-center .col-md-4 .latest-single-post .post-content .post-content-data h2 {
          padding: 0;
          margin: 0;
          font-weight: 700;
          color: #3a3d41;
          text-transform: uppercase; }
    .latest-post .text-center .col-md-4 .latest-single-post:hover .date-post {
      background: #e74c3c; }

.latest-post .post-buttons .btn {
  font-size: 14px;
  padding: 10px;
  margin: 0 10px;
  background: transparent;
  color: #3a3d41;
  font-weight: 800;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid rgba(0, 0, 0, 0.3); }

.client-container {
  padding: 60px 0;
  background: #F9FAFB; }
  .client-container h2 {
    color: #999999;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 60px; }
  .client-container ul {
    padding: 0;
    margin: 0;
    display: inline; }
  .client-container li {
    display: inline-block;
    padding: 0 32px; }
    .client-container li img {
      width: 100%; }

.social-media-container {
  padding: 20px 0;
  background: #e74c3c; }
  .social-media-container ul {
    display: inline; }
  .social-media-container li {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center; }
    .social-media-container li a {
      width: 40px;
      height: 40px; }
    .social-media-container li i {
      color: white;
      font-size: 22px;
      line-height: 40px;
      padding: 0 10px;
      text-align: center;
      border: 1px solid transparent; }
      .social-media-container li i:hover {
        border: 1px solid white;
        width: 40px;
        height: 40px; }

.footer-container {
  background: url("../images/pattern.png") center center;
  padding: 60px 0 20px 0; }
  .footer-container h1, .footer-container p {
    color: white; }
  .footer-container h1 {
    padding-bottom: 20px; }
  .footer-container i {
    float: left;
    display: inline-block;
    color: white; }
  .footer-container ul {
    margin: 0;
    padding: 0; }
  .footer-container li {
    display: inline-block;
    margin-bottom: 30px; }
    .footer-container li p, .footer-container li span {
      margin: 0 0 0 30px; }
    .footer-container li a {
      color: #e74c3c; }
    .footer-container li span {
      color: #999999;
      font-size: 13px; }
  .footer-container .flickr li {
    margin-bottom: 5px; }
  .footer-container .subscribe button, .footer-container .subscribe input {
    border-radius: 0;
    font-size: 14px; }
  .footer-container .subscribe button {
    background: #e74c3c;
    border-color: #e74c3c;
    padding-left: 8px;
    padding-right: 8px;
    text-transform: uppercase; }
  .footer-container .copyrights {
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #999999; }
    .footer-container .copyrights p {
      color: #999999;
      padding-bottom: 0;
      margin-bottom: 0; }
