@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,500,500i,600,700,700i,800");
.heading1, .heading2, a.btn-default, a.btn-secondary, .reasons-header h2, .portfolio h2, h1, .reasons-header h1, .services-container .services-post h1 {
  color: #3a3d41;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px; }

.heading2, a.btn-default, a.btn-secondary, .reasons-header h2, .portfolio h2 {
  font-size: 18px; }

.paragraph, p, .services-container .services-post p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #999999;
  margin: 0 0 20px; }

.round-icon, .mission-holder .mission-post-single .mission-post-text span, .services-container .services-post i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e74c3c;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  font-size: 18px; }

body {
  font-family: "Raleway", sans-serif; }

a {
  display: inline-block;
  text-decoration: none !important; }

a.btn-default {
  color: #fff;
  padding: 14px 50px;
  background: #e74c3c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border-bottom: 3px solid #9e2114;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
  a.btn-default:hover {
    opacity: 0.7; }

a.btn-secondary {
  color: #fff;
  padding: 14px 14px;
  background: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #999999;
  border-bottom: 3px solid #999999;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }

header {
  background: #fff; }
  header .navbar {
    background: transparent !important; }
  header ul.navbar-nav > li > a {
    color: #333333 !important;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 25px !important; }
    header ul.navbar-nav > li > a:hover {
      color: #e74c3c !important; }

section.slider-section {
  padding: 250px 0 50px;
  background: #3a3d41 url("../upload/banners/slide1.jpg") center center;
  background-size: cover;
  text-align: center;
  position: relative; }
  section.slider-section .slider-content {
    margin-bottom: 140px; }
    section.slider-section .slider-content h1 {
      color: #fff;
      font-size: 60px; }
    section.slider-section .slider-content p {
      font-size: 18px;
      color: #fff;
      opacity: 0.8;
      margin-bottom: 30px; }
  section.slider-section .container {
    position: relative;
    z-index: 2; }

section.slider-section:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); }

.our-mission {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 5px 20px 20px; }

.mission-holder .mission-post-single {
  padding-top: 20px;
  border-top: 2px solid transparent; }
  .mission-holder .mission-post-single:hover {
    border-top: 2px solid tomato; }
  .mission-holder .mission-post-single .mission-post-text span {
    display: inline-block;
    float: left;
    font-family: arial;
    font-weight: 700; }
    .mission-holder .mission-post-single .mission-post-text span:hover {
      background: #f9fafb;
      color: #333; }
  .mission-holder .mission-post-single .mission-post-text h2 {
    font-size: 24px; }
  .mission-holder .mission-post-single .mission-post-text h2, .mission-holder .mission-post-single .mission-post-text p {
    text-align: left;
    margin: 0 0 0 65px;
    color: white; }

.services .container-fluid {
  padding: 0; }
  .services .container-fluid .row {
    padding: 0;
    margin: 0; }

.reasons-header {
  height: 200px; }
  .reasons-header h1 {
    padding-top: 70px; }
  .reasons-header h2 {
    color: #999999;
    font-weight: 300; }

.services-container h1, .services-container p {
  color: white !important; }

.services-container .parallax {
  /* The image used */
  background-image: url("../upload/banners/back.jpg");
  /* Set a specific height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.services-container .background {
  background: rgba(0, 0, 0, 0.7);
  height: 100%; }

.services-container .services-post {
  padding: 125px 0; }
  .services-container .services-post i {
    width: 65px;
    height: 65px;
    line-height: 64px;
    background: #f9fafb;
    color: #3a3d41;
    font-size: 40px; }
  .services-container .services-post h1 {
    padding-top: 25px; }
  .services-container .services-post hr {
    width: 60px;
    height: 2px;
    background: white; }
  .services-container .services-post:hover i {
    background: #e74c3c;
    color: white; }
  .services-container .services-post:hover hr {
    background: #e74c3c; }
  .services-container .services-post:hover .btn-secondary {
    background: #e74c3c;
    color: white;
    border: none;
    border-bottom: 3px solid #9e2114; }

.services .reasons-header-dark {
  padding: 60px 0;
  color: white !important;
  background: url("../images/pattern.png") center center; }
  .services .reasons-header-dark .btn-default {
    padding: 0 10px; }
  .services .reasons-header-dark h1 {
    color: white; }
  .services .reasons-header-dark span {
    padding-right: 10px; }
  .services .reasons-header-dark i {
    border-left: 1px solid #9e2114;
    padding: 15px 5px 15px 20px; }

.portfolio {
  width: 100%;
  padding: 60px 0; }
  .portfolio .container-fluid {
    padding: 0;
    width: 100%; }
  .portfolio h2 {
    color: #999999;
    font-weight: 300; }
  .portfolio .col-md-3 {
    padding: 0 !important; }
  .portfolio img {
    width: 100%; }
  .portfolio .portfolio-holder {
    padding: 60px 0; }
    .portfolio .portfolio-holder .row {
      width: 100%;
      margin: 0; }
  .portfolio .item-name {
    padding: 25px 0; }
